/*inserire onde e tag nell html*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* commons */
a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 2rem;
}

h2{
    font-size: 1,5rem;
}

h3{
    font-size: 1rem;
    margin-bottom: 10px;
}

h4{
    font-size: 0.4rem;
    padding-bottom: 10px;
}

p{
    font-size: 0.7rem;
    text-align: left;
}

.container-vertical-center{
    flex-direction: column;
    align-items: center;   
}

.container-horizontal-center{
    flex-direction: row;
    justify-content: center;
}

.align-center{
    text-align: center;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}

.mar-bot-10{
    margin-bottom: 10px;
}

.mar-bot-20{
    margin-bottom: 20px;
}

mar-bot-10{
    margin-bottom: 10px;
}

.mar-top-10{
    margin-top: 10px;
}
.pad-top-30{
    padding-top: 30px;
}
.pad-top-20 {
    margin-top: 20px;
}

.pad-top-10{
    padding-top: 10px;
}

.pad-bot-20 {
    margin-bottom: 20px;
}

.wid-100 {
    width: 100%;
}

.wid-90 {
    width: 90%;
}

.wid-70{
    width: 70%;
}

.wid-60 {
    width: 60%;
}

.wid-30 {
    width: 30%;
}

.wid-15 {
    width: 15%;
}
.flex{
    display: flex;
}

.grow {
    flex-grow: 1;
}

.dir-col{
    flex-direction: column;
}

.container{
    border-bottom: 1px solid rgb(114, 137, 218);
}

.grey {
    background-color: rgb(211, 211, 211);
}

.darkgrey {
    background-color: rgb(35, 39, 42);
}

.white {
    color: rgb(255, 255, 255);
}

.violet{
    color: rgb(114, 137, 218);
}

.font-menu>a:hover {
    text-decoration: underline;
    cursor: pointer;
}

header{
    background-color: rgb(37, 94, 233);
}

.text-violet{
    color: rgb(114, 137, 218);
    font-size: 0.8rem;
    padding-bottom: 5px;
}

.font-menu {
    font-size: 0.4rem;
}

.button {
    border-radius: 20px;
    font-size: 0.7rem;  
    font-size: 0.7rem;
}

.button-login{
    width: 70px;
}

.download-mac,
.open-discord,
.download-mac-two,
.button-black{
    font-size: 0.7rem;
    padding: 5px;
}

img.flags{
    height: 13px;
    background-size: cover;
    margin-right: 10px;
}

.languages{
    font-size: 0.8rem;
}

.download-mac-two{
    width: 100px;
}
.button-white {
    background-color: rgb(255, 255, 255);
}

.button-black {
    background-color: rgb(49, 51, 56);
}

.button-violet {
    background-color: rgb(114, 137, 218);
}

.button:hover {
     box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
    /*perche cosi prende tutti i bordi in modo uniforme?*/
}
.button-login:hover{
    color: rgb(37, 94, 233);
}
div.menu>a {
    width: calc(100% / 6);
}

.nav {
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-around;
}

header.flex-container {
    background-color: rgb(37, 94, 233);
}

.head {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.img-1{
    background-image: url(../img/item1.svg);
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
}

.img-2{
    background-image: url(../img/item2.svg);
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
}

.img-3{
    background-image: url(../img/item3.svg);
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
}

.container-5{
    width: calc(100% / 5 - 10px);
    margin-right: 10px;
}

.footer-container {
    height: 30px;
    line-height: 30px;
    justify-content: space-around;
}/* riguardsare centratura footer*/

footer> .flex-container {
    border-top: 1px solid rgb(114, 137, 218); 

}
.icon-container{
    justify-content: space-around;
}


.bg-text-bottom{
    background-image: url(../img/stars.svg);
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
}



