* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.menu>a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* commons */
body {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

h3{
    font-size: 0.4rem;
    padding-bottom: 10px;
}

.black-text{
    font-size: 1,5rem;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: left;
}
.text-violet{
    color: rgb(114, 137, 218);
    font-size: 0.8rem;
    padding-bottom: 5px;
}

.very-big>div{
    margin-bottom: 20px;
}
p{
    font-size: 0.7rem;
    text-align: left;
}
main {
    flex-direction: column;
    /* debug */
    /* background-color: rgb(125, 255, 255); */
    /* height: 1000px; */
}

.flex-container,
.footer-container,
.nav-container {

    display: flex;
    /* align-items: center; */
    justify-content: center;

}

.menu {
    display: flex;
    font-size: 0.4rem;
    color: rgb(255, 255, 255);
    justify-content: center;
}

a.button {
    border-radius: 20px;
    
}
a.login{
    width: 70px;
}
a.download-mac,
a.open-discord,
a.download-mac-two{
    font-size: 0.7rem;
    padding: 5px;
}
.verysmall.grow{
    display: flex;
    flex-direction: column;
}

.linguage-container{
    display: flex;
    margin-bottom: 10px;
}
img.flags{
    height: 13px;
    background-size: cover;
    margin-right: 10px;
}
.languages{
    font-size: 0.8rem;
}
.download-mac-two{
    width: 100px;
}
.button.button-white {
    background-color: rgb(255, 255, 255);
}

.button-black {
    background-color: rgb(49, 51, 56);
}

.button-violet {
    background-color: rgb(114, 137, 218);
}

.flex{
    display: flex;
}
.dir-col{
    flex-direction: column;
}
a.login:hover {
    color: rgb(37, 94, 233);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
    /*perche cosi prende tutti i bordi in modo uniforme?*/
}

div.menu>a {
    width: calc(100% / 6);
}

.flex-container {
    width: 100%;
}

.wid-big {
    width: 90%;
}

.wid-mid {
    width: 60%;
}

.wid-small {
    width: 30%;
}

.pad-top-bot {
    margin-top: 20px;
    margin-bottom: 20px;
    /* debug */
    /* border: 1px dashed black; */
}

.grow {
    flex-grow: 1;
}

/* nav */
.nav-container {
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;

}

img {
    max-width: 100%;
}

.flex-container.blue {
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

header.flex-container {
    background-color: rgb(37, 94, 233);
}

.hero >.big-container{
    background-image: url(../img/item1.svg);
    background-size: cover;
    margin-right: px;
}

.section-one>.big-container{
    background-image: url(../img/item2.svg);
    background-size: cover;
}

.section-two>.big-container{
    background-image: url(../img/item3.svg);
    background-size: cover;
}

/* main */
.very-big {
    width: 60%;
    /* debug */
    /* height: 200px;
    line-height: 200px; */
}

.verysmall-container {
    width: calc(100% / 5 - 10px);
    margin-right: 10px;
}

.footer-container {
    /* justify-content: space-between; */
    /* debug */
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
}

/* footer */
.foot {
    width: 15%;
    /* text-align: center; */
}

/* img.logo{
    max-height: 100%;
} */
footer> .flex-container {
    border-top: 1px solid rgb(114, 137, 218);
    
    /* debug */
    /* height: 60px;
    line-height: 60px; */

}
.icon-container>a{
    display: flex;
    justify-content: flex-start;
}

/* DEBUG    DEBUG   DEBUG   DEBUG   DEBUG   DEBUG   DEBUG   DEBUG*/
/* .nav {
    debug
    border: 1px dashed black;
} */

.thebigone {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.align-center{
    text-align: center;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}

.bg-text-bottom{
    background-image: url(../img/stars.svg);
    background-size: cover;
}

 .little-black-text{
    font-size: 1rem;
    margin-bottom: 10px;
} 
verysmall-container,
.big-container {
    line-height: 300px;
    height: 300px;
}



.verysmall-container.tiffany {
    border: 1px dashed white;
}

/* .orange{
    background-color: rgb(218, 165, 32);
} */
/* .darkpink {
    background-color: rgb(238, 130, 238);
} */
/* .blue {
    background-color: blue;
} */
.grey {
    background-color: rgb(211, 211, 211);
}

.lightblue {
    background-color: rgb(30, 144, 255);
}

.lightpink {
    background-color: rgb(255, 192, 203);
}

.darkgrey {
    background-color: rgb(35, 39, 42);
}

.pink {
    background-color: rgb(240, 128, 128);
}

.tiffany {
    background-color: rgb(32, 178, 170);
}

.lighttiffany {
    background-color: rgb(127, 255, 212);
}

.green {
    background-color: rgb(34, 139, 34);
}

/* .lightcyan {
    background-color: rgb(173, 216, 230);
} */
.white {
    color: rgb(255, 255, 255);
}
.violet{
    color: rgb(114, 137, 218);
}